/* Write your CSS code here */
.logout-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logout-btn {
  font-size: 13px;
}

@media screen and (min-width: 768px) {
  .logout-btn {
    font-size: 24px;
  }
}